# Exclude direnv environment vars
.envrc

# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.backup
*.retry
*.*~

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz

# ansible-digital_ocean Cache
ansible-digital_ocean.cache

# static inventory
static_inventory.yml

# local README
README.local.md
