docker-compose-build-step:1.0
github:1.33.1
docker-plugin:1.2.2
script-security:1.76
blueocean-rest:1.24.5
pipeline-stage-step:2.5
git-client:3.6.0
jjwt-api:0.11.2-9.c8b45b8bb173
sse-gateway:1.24
workflow-step-api:2.23
workflow-aggregator:2.6
pipeline-rest-api:2.19
matrix-auth:2.6.5
jackson2-api:2.12.1
variant:1.4
favorite:2.3.3
github-branch-source:2.10.2
antisamy-markup-formatter:2.1
workflow-api:2.42
workflow-job:2.40
blueocean-autofavorite:1.2.4
workflow-scm-step:2.12
jquery3-api:3.5.1-3
blueocean-pipeline-scm-api:1.24.5
gitlab-plugin:1.5.19
workflow-multibranch:2.22
ssh-credentials:1.18.2
structs:1.22
plugin-util-api:2.0.0
blueocean-github-pipeline:1.24.5
workflow-cps:2.90
credentials-binding:1.24
authentication-tokens:1.4
workflow-basic-steps:2.23
blueocean-events:1.24.5
durable-task:1.35
docker-build-step:2.6
pipeline-build-step:2.13
docker-java-api:3.1.5.2
jsch:0.1.55.2
pipeline-model-api:1.8.4
workflow-cps-global-lib:2.18
pipeline-graph-analysis:1.10
gradle:1.36
checks-api:1.6.0
blueocean-jwt:1.24.5
lockable-resources:2.10
momentjs:1.1.1
configuration-as-code:1.47
ws-cleanup:0.39
rebuild:1.32
resource-disposer:0.15
pubsub-light:1.13
blueocean-config:1.24.5
mailer:1.33
scm-api:2.6.4
ldap:2.4
handy-uri-templates-2-api:2.1.8-1.0
handlebars:1.1.1
git:4.6.0
locale:1.4
pipeline-input-step:2.12
blueocean-rest-impl:1.24.5
matrix-project:1.18
blueocean-pipeline-api-impl:1.24.5
workflow-support:3.8
email-ext:2.82
blueocean-commons:1.24.5
github-api:1.123
display-url-api:2.3.4
pipeline-stage-tags-metadata:1.8.4
htmlpublisher:1.25
blueocean-core-js:1.24.5
build-timeout:1.20
docker-commons:1.17
blueocean-pipeline-editor:1.24.5
pipeline-stage-view:2.19
echarts-api:5.0.1-1
branch-api:2.6.3
pipeline-github-lib:1.0
token-macro:2.15
okhttp-api:3.14.9
jenkins-design-language:1.24.5
sshd:3.0.3
pipeline-milestone-step:1.3.2
cloudbees-folder:6.15
ssh-slaves:1.31.6
bouncycastle-api:2.20
trilead-api:1.0.13
ant:1.11
ace-editor:1.1
blueocean-bitbucket-pipeline:1.24.5
blueocean-personalization:1.24.5
blueocean-display-url:2.4.1
timestamper:1.12
cloudbees-bitbucket-branch-source:2.9.7
command-launcher:1.5
git-server:1.9
pipeline-model-definition:1.8.4
workflow-durable-task-step:2.38
blueocean:1.24.5
font-awesome-api:5.15.2-2
apache-httpcomponents-client-4-api:4.5.13-1.0
credentials:2.3.15
bootstrap4-api:4.6.0-2
pam-auth:1.6
ansicolor:0.7.5
plain-credentials:1.7
greenballs:1.15.1
blueocean-i18n:1.24.5
blueocean-dashboard:1.24.5
blueocean-git-pipeline:1.24.5
pipeline-model-extensions:1.8.4
docker-workflow:1.26
popper-api:1.16.1-2
junit:1.49
blueocean-web:1.24.5
jdk-tool:1.5
snakeyaml-api:1.27.0