<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Create docker-compose based Deployment Environments for the Tutorials App. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@{{ plugin_gitlab_version }}">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>STAGE</name>
          <description>Stage of the Environment - possible values are: dev, ci, staging, prod</description>
          <defaultValue>dev</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@{{ plugin_git_version }}">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://git.pingworks.net/trainings/cdlab/tutorials-envs.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/main</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>set -e
# set +x

which docker

cd docker-compose-based

HA_CONFIG_FOLDER=$JENKINS_HOME/.heiseacademy

TARGET_HOST=&quot;dockerhost.$STAGE.$(cat $HA_CONFIG_FOLDER/CDLAB_BASE_DOMAIN)&quot;

echo &quot;------------------------------------&quot;
echo &quot;Bootstrapping Environment&quot;
echo &quot;STAGE: $STAGE&quot;
echo &quot;TARGET_HOST: $TARGET_HOST&quot;
echo &quot;------------------------------------&quot;
echo

echo &quot;----------------------------------------------------&quot;
echo &quot;Bootstrapping DigitalOcean Droplet with terraform...&quot;
echo &quot;----------------------------------------------------&quot;

cd terraform
./terraform-w init
./terraform-w plan
./terraform-w apply -auto-approve

echo &quot;----------------------------------------------------&quot;
echo &quot;Provisioning target host $TARGET_HOST with ansible...&quot;
echo &quot;----------------------------------------------------&quot;

cd ../ansible
./ansible-playbook-w -i digital_ocean.py dockerhost.yml

echo &quot;----------------------------------------------------&quot;
echo &quot;Testing ssh connectivity for user serviceuser...&quot;
echo &quot;----------------------------------------------------&quot;

</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>